/* div mãe */
.productDisplay{
    display: flex;
    margin: 0px 170px;
}

/* estilização lado esquerdo da pagina */
.productDisplayLeft{
    display: flex;
    gap: 17px;
}

/* estilização da div das img menores */
.productImgList{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

/* estilização das imagens menores */
.productImgList img{
    height: 163px;

}

/* estilizaçãp da imagem principal */
.productMainImg{
    width: 586px;
    height: 700px;
}


/* estilização do lado direito da pagina */
.productDisplayRight{
    margin: 0px 70px;
    display: flex;
    flex-direction: column;
}

/* estilização do h1 */
.productDisplayRight h1{
    color: #3d3d3d;
    font-size: 40px;
    font-weight: 700;
}

/* estelização das estrelas */
.productDisplayRightStar{
    display: flex;
    align-items: center;
    margin-top: 13px;
    gap: 5px;
    color: #1c1c1c;
    font-size: 16px;
}

/* estilização da div dos preços */
.productRightPrices{
    display: flex;
    flex-direction: column;
    margin: 40px 0px;
    gap: 30px;
    font-size: 24px;
    font-weight: 700;
}

/* estilização do preço antigo */
.productRightPriceOld{
    color: #818181;
    text-decoration: line-through;
}

/* estilização do novo preco */
.productRightNewPrice{
    color: #ff4141;
}

/* estilização da descrição */
.productRightDescription {
    color: #454545;
}

/* estilização do h1 da seleção de tamanhos */
.productRightSize h1{
    margin-top: 55px;
    color: #656565;
    font-size: 20px;
    font-weight: 600;
}

/* estilização da seleção de tamanhos */
.productRightSizes{
    display: flex;
    margin: 30px 0px;
    gap: 20px;
}

.productRightSizes div{
    color: #3c3c3c;
}

/* estilização das div dos tamanhos */
.productRightSizes div{
    padding: 18px 24px;
    background-color: #fbfbfb;
    border: 1px solid #ebebeb;
    border-radius: 3px;
    cursor: pointer;
}

.productDisplayRight button{
    padding: 20px 40px;
    width: 250px;
    font-size: 16px;
    font-weight: 600;
    color: white;
    background: #ff4141;
    margin-bottom: 40px;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 35px;
}

.productRightCategory{
    font-weight: 500;
    color: #1c1c1c;
    margin-top: 0px;
    font-size: 1.3rem;
}

.productRightCategory span{
    font-weight: 600;
}

@media (max-width: 1280px){
    .productDisplay{
        margin: 0px 60px;
    }

    .productDisplayLeft{
        gap: 10px;
    }

    .productImgList{
        gap: 10px;
    }

    .productImgList img{
        height: 120px;
    }

    .productMainImg{
        width: auto;
        height: 510px;
    }

    .productDisplayRight{
        margin: 0px 30px;
    }

    .productDisplayRight h1{
        font-size: 22px;
    }

    .productDisplayRightStar{
        gap: 3px;
        font-size: 13px;
    }

    .productRightPrices{
        margin: 10px 0px;
        font-size: 18px;
    }

    .productRightDescription{
        font-size: 13px;
    }

    .productRightSize h1{
        margin: 20px;
        font-size: 20px;
    }

    .productRightSizes div{
        padding: 14px 20px; 
    }

    .productDisplayRight button{
        width: 190px;
        padding: 15px 0px;
        margin-bottom: 20px;
    }

    .productRightCategory{
        margin-top: 5px;
        font-size: 14px;
    }
}

@media (max-width: 1024px){
    .productDisplay{
        margin: 0px 30px;
    }

    .productDisplayLeft{
        gap: 5px;
    }

    .productImgList img{
        height: 80px;
    }

    .productMainImg{
        height: 350px;
    }

    .productDisplayRight h1{
        font-size: 18px;
    }

    .productDisplayRightStar img{
        width: 15px;
    }

    .productRightDescription{
        font-size: 12px;
    }

    .productRightSizes{
        margin-top: 10px 0px;
    }

    .productRightSizes div{
        padding: 10px 16px; 
        font-size: 12px;
    }

    .productDisplayRight button{
        width: 170px;
        height: 40px;
        padding: 10px 0px;
        margin-bottom: 10px;
        font-size: 14px;
    }

    .productRightCategory{
        font-size: 12px;
    }
}

@media (max-width: 800px){
    .productDisplay{
        margin: 0px 10px;
    }

    .productDisplayLeft{
        gap: 6px;
        flex-direction: column;
        align-items: center;
    }

    .productImgList{
        flex-direction: row;
        gap: 6px;
    }

    .productImgList img{
        height: 70px;
    }

    .productMainImg{
        height: 300px;
    }

    .productDisplayRight h1{
        font-size: 14px;
    }

    .productDisplayRightStar img{
        width: 13px;
    }

    .productRightDescription{
        font-size: 10px;
    }

    .productRightSize h1{
        margin-top: 10px;
    }

    .productRightSizes{
        margin-top: 10px;
        gap: 5px;
    }

    .productRightSizes div{
        padding: 4px 11px;
    }

    .productDisplayRight button{
        width: 140px;
        font-size: 12px;
    }

    .productRightCategory{
        font-size: 10px;
    }
}

@media (max-width: 500px){
    .productDisplay{
        flex-direction: column;
    }

    .productDisplayLeft{
        gap: 10px;
        flex-direction: row;
        margin: auto;
    }

    .productImgList{
        flex-direction: column;
        gap: 8px;
    }

    .productImgList img{
        height: 75px;
    }

    .productMainImg{
        height: 330px;
    }

    .productDisplayRight{
        margin: 5px;
    }

    .productDisplayRight h1{
        margin-top: 15px;
        font-size: 20px;
        font-weight: 500;
    }

    .productDisplayRightStar img{
        width: 15px;
    }

    .productRightSizes{
        gap: 10px;
        margin: 20px 0px;
    }

    .productRightSizes div{
        padding: 10px 16px;
        font-size: 14px;
    }

    .productDisplayRight button{
        width: 185px;
        height: 45px;
        font-size: 15px;
        padding: 12px 0px;
    }

    .productRightCategory{
        font-size: 16px;
    }
}